*{padding:0;}
*{margin:0;}
*{font-family:"微软雅黑",Sans-serif;}
body{height: 100%;width: 100%;}
.navigation{height: 0.45rem;width: 100%;background-color: #293859;}
.background{height:100%;width: 100%;background-size: 100%;background-image:url(image/background.png);}
